@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS AL BUZON INSTITUCIONAL</h1>
    <h1>ATENCION!</h1><br>
    <H2>Toda la informacion capturada por el sistema es analizada con el objetivo de mejorar la calidad de los servicios ofrecidos por la institucion.

        <br>
        Atte: Depto. Calidad ITSUR.
    </H2>
</div>
