@{
    ViewData["Title"] = "Administrar solicitudes";
}

<div class="text-center">
    <h1 class="display-4">Administración de las solicitudes</h1>
    <h2>Se mostrara una tabla con todas las solicitudes aceptadas</h2>
</div>
